{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
  Witaj {{ user.username }}! <a href="{% url 'logout' %}">logout</a>
  <br /><br />
  Operacje na koncie:
  <br />
  <a href="{% url 'password_change' %}">Zmiana hasła</a>
<br /><br />
  <div class="row">
  <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Moje dane osobowe</h5>
        <p class="card-text">Uzupełnione dane osobowe mogą być niezbędne do zakupu licencji</p>
        <a href="#" class="btn btn-primary">Edytuj</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Dane profilowe</h5>
        <p class="card-text">Wybierz właściwy okręg oraz uzupełnij dane o pozwoleniu</p>
        <a href="#" class="btn btn-primary">Edytuj</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Kup licencję</h5>
        <p class="card-text">Przejdź do sekcji wyboru licencji na łowiska i dokonaj zakupu</p>
        <a href="#" class="btn btn-primary">Wybierz</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Moje zamówienia</h5>
        <p class="card-text">Sekcja zawiera dane dotyczące dokonanych zakupów licencji</p>
        <a href="#" class="btn btn-primary">Przeglądaj</a>
      </div>
    </div>
  </div>
</div>

  <div id="mojeDane">
  a
  </div>

<div id="mojeKonto">
  b
</div>

<div id="zakupLicencje">
c
</div>

<div id="mojeLicencje">
  {{ texxt }}

</div>






{% else %}
  Nie jesteś zalogowany <a href="{% url 'login' %}">Zaloguj</a> lub <a href="{% url 'signup' %}">Zarejestruj się</a>
  <br />
  Nie pamiętasz hasła? <a href="{% url 'password_reset' %}">Zresetuj</a>
{% endif %}
{% endblock %}